# Empty CSS file for your own CSS
.container-fluid{padding-right:500px; padding-left:500px;}
.input-col, .output-col{min-height:215px;    padding: 1%;}
.output-col{padding-left:0%}
.col-centered{float: none; margin: 0 auto;}
.container {width: 100%;padding: 0px 100px;}
body{font-family:"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;font-size:16px;}
.jumbotron{padding-bottom:0%;margin-bottom:1%;}
#inputrows{padding-left:0%;}

#loading {   width: 100%;   height: 100%;   top: 0;   left: 0;   position: fixed;   display: block;   opacity: 0.9;   background-color: #fff;
   z-index: 99;   text-align: center; padding-top:25%;
}

#loading-image {z-index: 100;}
.jumbotron .h1, .jumbotron h1 {    font-size: 36px; }
.jumbotron p {
    /* margin-bottom: 15px; */
    /* font-size: 21px; */
    font-weight: 200;
}
.h2, h2 {    font-size: 1.4em;}
.h3, h3 {  margin-top: 0px;  margin-bottom: 7px;     font-size: 1.1em;}
.input-col .col-md-9{padding-left:0px;}
#results-column .input-col{text-align:center;}

.img-thumbnail.preview{  width: auto; /* change this to 'auto'*/  max-height:205px; /* add this for 'making sure'*/  vertical-align: middle;     padding: 2px;max-width:200%; /*Take all necessary space*/}
hr {margin-top: 10px; margin-bottom: 10px;}
.btn-group-lg>.btn, .btn-lg {   font-size: 13px;}
.data-row{border-bottom: 1px solid #ddd;}
h4, .h4{font-size: 1.0em;}